:root {
  --bingo-border-size: 5px;
  --ready-yes-color: lightgreen;
  --ready-no-color: lightgray;
}

html,
body {
    user-select: none;
    display: flex;
    font-family: "Schoolbell";
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#play_area {
    display: flex;
    gap: 1vh 1vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    margin: auto auto;
}

#bingo_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: min(calc(var(--vh, 1vh) * 93), 70vw);
    width: min(calc(var(--vh, 1vh) * 93), 70vw);
}

.bingo_cell {
    position: relative;
    border-color: #000;
    border-style: solid;
    box-sizing: border-box;
    width: 33.3%;
    height: 33.3%;
}

.bingo_cell img {
    position: absolute;
    opacity: 50%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.bingo_cell:nth-of-type(1) {
    border-width: calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2);
}

.bingo_cell:nth-of-type(2) {
    border-width: calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size);
}

.bingo_cell:nth-of-type(3) {
    border-width: calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size);
}

.bingo_cell:nth-of-type(4) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2);
}

.bingo_cell:nth-of-type(5) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size);
}

.bingo_cell:nth-of-type(6) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size);
}

.bingo_cell:nth-of-type(7) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2);
}

.bingo_cell:nth-of-type(8) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2) var(--bingo-border-size);
}

.bingo_cell:nth-of-type(9) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2) var(--bingo-border-size);
}

.bingo_cell .item {
    width: 100%;
    height: 100%;
}

.item_inside {
    width: 100%;
    height: 100%;
    font-size: min(4vh, 4vw);
    color:#000;
    text-align: center;
    vertical-align: bottom;
    -webkit-text-fill-color:#000;
	text-shadow:
        -2px -2px 0 #fff,  
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

#menu {
    box-sizing: border-box;
    display: flex;
    gap:1vw;
    padding:1vw;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    height: calc(var(--vh, 1vh) * 93);
    width: 18vw;
    overflow-y: auto;
}

#menu .item {
    background-color: #FFF;
    height: 16vw;
    width: 16vw;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--ready-no-color);
    height: calc(var(--vh, 1vh) * 5);
    width: max(250px, 18vw);
}

.button div {
    font-size: calc(var(--vh, 1vh) * 3.2);
}

.button img {
    max-height: calc(var(--vh, 1vh) * 4);
}

#random {
    background-color: aqua;
}

#ready {
    cursor: not-allowed;
}

#generate_qr {
    background-color: lightcoral;
    width: max(150px, 18vw);
}

#qrcode  {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}