:root {
  --vh: 1vh;
  --bingo-border-size: 5px;
  --ready-yes-color: lightgreen;
  --ready-no-color: lightgray;
}

html,
body {
    user-select: none;
    display: flex;
    font-family: "JKHandwriting", Schoolbell, "Comic Sans MS";
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#play_area {
    display: flex;
    gap: 1vh 1vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    margin: auto auto;
}

#bingo_area_3, #bingo_area_4, #bingo_area_5 {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: min(calc(var(--vh, 1vh) * 93), 70vw);
    width: min(calc(var(--vh, 1vh) * 93), 70vw);
}

#teach_area {
    display: flex;
    gap: 1vh 1vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    margin: auto auto;
}

#current_area {
    height: 52vw;
    width: 52vw;
}

#bingo_area_3 .bingo_cell {
    position: relative;
    border-color: #000;
    border-style: solid;
    box-sizing: border-box;
    width: 33.3%;
    height: 33.3%;
}

#bingo_area_4 .bingo_cell {
    position: relative;
    border-color: #000;
    border-style: solid;
    box-sizing: border-box;
    width: 25%;
    height: 25%;
}

#bingo_area_5 .bingo_cell {
    position: relative;
    border-color: #000;
    border-style: solid;
    box-sizing: border-box;
    width: 20%;
    height: 20%;
}

.bingo_cell img {
    position: absolute;
    opacity: 50%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/** 3x3 bingo grid borders **/
#bingo_area_3 .bingo_cell:nth-of-type(1) {
    border-width: calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2);
}

#bingo_area_3 .bingo_cell:nth-of-type(2) {
    border-width: calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_3 .bingo_cell:nth-of-type(3) {
    border-width: calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_3 .bingo_cell:nth-of-type(4) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2);
}

#bingo_area_3 .bingo_cell:nth-of-type(5) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_3 .bingo_cell:nth-of-type(6) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 2) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_3 .bingo_cell:nth-of-type(7) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2);
}

#bingo_area_3 .bingo_cell:nth-of-type(8) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 2) var(--bingo-border-size);
}

#bingo_area_3 .bingo_cell:nth-of-type(9) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 2) calc(var(--bingo-border-size) * 2) var(--bingo-border-size);
}

/** 4x4 bingo grid borders **/
#bingo_area_4 .bingo_cell:nth-of-type(1) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size);
}

#bingo_area_4 .bingo_cell:nth-of-type(2), #bingo_area_4 .bingo_cell:nth-of-type(3) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_4 .bingo_cell:nth-of-type(4) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_4 .bingo_cell:nth-of-type(5), #bingo_area_4 .bingo_cell:nth-of-type(9) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size);
}

#bingo_area_4 .bingo_cell:nth-of-type(6), #bingo_area_4 .bingo_cell:nth-of-type(7), #bingo_area_4 .bingo_cell:nth-of-type(10), #bingo_area_4 .bingo_cell:nth-of-type(11) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_4 .bingo_cell:nth-of-type(8), #bingo_area_4 .bingo_cell:nth-of-type(12) {
    border-width: calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_4 .bingo_cell:nth-of-type(13) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_4 .bingo_cell:nth-of-type(14), #bingo_area_4 .bingo_cell:nth-of-type(15) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_4 .bingo_cell:nth-of-type(16) {
    border-width: calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5);
}

/** 5x5 bingo grid borders **/
#bingo_area_5 .bingo_cell:nth-of-type(1) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size);
}

#bingo_area_5 .bingo_cell:nth-of-type(2), #bingo_area_5 .bingo_cell:nth-of-type(3), #bingo_area_5 .bingo_cell:nth-of-type(4) {
    border-width: var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_5 .bingo_cell:nth-of-type(5) {
    border-width: var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_5 .bingo_cell:nth-of-type(6), #bingo_area_5 .bingo_cell:nth-of-type(11), #bingo_area_5 .bingo_cell:nth-of-type(16) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size);
}

#bingo_area_5 .bingo_cell:nth-of-type(7), #bingo_area_5 .bingo_cell:nth-of-type(8), #bingo_area_5 .bingo_cell:nth-of-type(9), #bingo_area_5 .bingo_cell:nth-of-type(12), #bingo_area_5 .bingo_cell:nth-of-type(13), #bingo_area_5 .bingo_cell:nth-of-type(14), #bingo_area_5 .bingo_cell:nth-of-type(17), #bingo_area_5 .bingo_cell:nth-of-type(18), #bingo_area_5 .bingo_cell:nth-of-type(19) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_5 .bingo_cell:nth-of-type(10), #bingo_area_5 .bingo_cell:nth-of-type(15), #bingo_area_5 .bingo_cell:nth-of-type(20) {
    border-width: calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_5 .bingo_cell:nth-of-type(21) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) var(--bingo-border-size);
}

#bingo_area_5 .bingo_cell:nth-of-type(22), #bingo_area_5 .bingo_cell:nth-of-type(23), #bingo_area_5 .bingo_cell:nth-of-type(24) {
    border-width: calc(var(--bingo-border-size) * 0.5) calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5);
}

#bingo_area_5 .bingo_cell:nth-of-type(25) {
    border-width: calc(var(--bingo-border-size) * 0.5) var(--bingo-border-size) var(--bingo-border-size) calc(var(--bingo-border-size) * 0.5);
}

.bingo_cell .item {
    /* line-height: min(calc(var(--vh, 1vh) * 43.4), 32.55vw); */
    width: 100%;
    height: 100%;
}

#bingo_area_5 .bingo_cell .item .item_inside {
    font-size: min(calc(var(--vh, 1vh) * 4), 3vw);
}

#bingo_area_4 .bingo_cell .item .item_inside {
    font-size: min(calc(var(--vh, 1vh) * 5), 4vw);
}

#bingo_area_3 .bingo_cell .item .item_inside {
    font-size: min(calc(var(--vh, 1vh) * 6.2), 4.65vw);
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    overflow: hidden;
}

.item_inside {
    width: 100%;
    max-height: 33.3%;
    color:#000;
    text-align: center;
    -webkit-text-fill-color:#000;
	text-shadow:
        -2px -2px 0 #FFF,
        0   -2px 0 #FFF,
        2px -2px 0 #FFF,
        2px  0   0 #FFF,
        2px  2px 0 #FFF,
        0    2px 0 #FFF,
        -2px  2px 0 #FFF,
        -2px  0   0 #FFF;
}

#menu {
    box-sizing: border-box;
    display: flex;
    gap:1vw;
    padding:0.5vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: lightgray;
    height: calc(var(--vh, 1vh) * 93);
    width: 25vw;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#menu .item {
    background-color: #FFF;
    border: 1px solid #000;
    height: 16vw;
    width: 16vw;
}

#menu .item .item_inside {
    font-size: 3.2vw;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.button {
    cursor: pointer;
    display: flex;
    font-size: calc(var(--vh, 1vh) * 3.2);
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--ready-no-color);
    height: calc(var(--vh, 1vh) * 5);
    width: max(250px, 18vw);
}

.button img {
    max-height: calc(var(--vh, 1vh) * 4);
}

#random {
    background-color: aqua;
}

#ready {
    cursor: not-allowed;
}

#generate_qr {
    background-color: lightcoral;
    width: max(150px, 18vw);
}

#teach {
    background-color: orange;
    width: max(calc(var(--vh, 1vh) * 10));
}

#qrcode  {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#to_draw_area {
    background-color: lightgray;
    border-bottom: 1px solid #000;
    display: flex;
    box-sizing: border-box;
    gap: 1vh;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0 1vh 0 1vh;
    width: 100%;
    height: calc(var(--vh, 1vh) * 15);
    overflow-x: scroll;
    overflow-y: hidden;
}

#to_draw_area .item {
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #000;
    /* line-height: calc(var(--vh, 1vh) * 16); */
    height: calc(var(--vh, 1vh) * 10);
    width: calc(var(--vh, 1vh) * 10);
    flex-shrink: 0;
}

#to_draw_area .item .item_inside {
    font-size: calc(var(--vh, 1vh) * 2);
}

#to_draw_area .button {
    font-size: min(2vh, 2vw);
    background-color: var(--ready-no-color);
    border: 1px solid #000;
    height: calc(var(--vh, 1vh) * 10);
    width: calc(var(--vh, 1vh) * 10);
    flex-shrink: 0;
}

#drawn_area {
    background-color: lightgray;
    border-top: 1px solid #000;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 1vh;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1vh 0 1vh;
    width: 100%;
    height: calc(var(--vh, 1vh) * 15);
    overflow-x: scroll;
    overflow-y: hidden;
}

#drawn_area .item {
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #000;
    /* line-height: calc(var(--vh, 1vh) * 16); */
    height: calc(var(--vh, 1vh) * 10);
    width: calc(var(--vh, 1vh) * 10);
    filter: opacity(0.5);
    flex-shrink: 0;
}

#drawn_area .item .item_inside {
    font-size: calc(var(--vh, 1vh) * 2);
}

#current_area {
    /* line-height: calc(var(--vh, 1vh) * 110); */
    height: min(calc(var(--vh, 1vh) * 65), 100vw);
    width: min(calc(var(--vh, 1vh) * 65), 100vw);
}

#current_area .item {
    border: 1px solid #000;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

#current_area .item .item_inside {
    font-size: calc(var(--vh, 1vh) * 13);
}