:root {
  --nav-height: 50px;
  --card-size: min(20vw, calc(100vh - var(--nav-height)));
  --vh: 1vh;
}

body {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    font-family: "JKHandwriting", Schoolbell, "Comic Sans MS";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sentence {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 48px;
    gap:0 2vw;
    height: calc((var(--vh) * 100) - var(--nav-height));
    width: 100%;
}

#navigation {
    display: flex;
    justify-content: space-around;
    height: var(--nav-height);
    width: 100%;
}

#navigation div {
    cursor: pointer;
    width: 50px;
}

#navigation div span {
    font-size: calc(var(--nav-height) - 10px);
}

#qrcode  {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    
    border: 2px solid;
    box-sizing: border-box;
    width: var(--card-size);
    height: var(--card-size);
}

.card-inside {
    text-align: center;
    width: 100%;
    max-height: calc(var(--card-size) / 3);
	text-shadow:
        -2px -2px 0 #fff,  
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

.color_one {
    border-color: #005f73;
    color: #005f73;
}

.color_two {
    border-color: #ca6702;
    color: #ca6702;
}

.color_three {
    border-color: #9b2226;
    color: #9b2226;
}