.bottom .card {
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  height: 88pt;
  min-width: 88pt;
  text-shadow: #fff 2px 0px 0px, #fff 1.75517px 0.958851px 0px,
    #fff 1.0806px 1.68294px 0px, #fff 0.141474px 1.99499px 0px,
    #fff -0.832294px 1.81859px 0px, #fff -1.60229px 1.19694px 0px,
    #fff -1.97999px 0.28224px 0px, #fff -1.87291px -0.701566px 0px,
    #fff -1.30729px -1.51361px 0px, #fff -0.421592px -1.95506px 0px,
    #fff 0.567324px -1.91785px 0px, #fff 1.41734px -1.41108px 0px,
    #fff 1.92034px -0.558831px 0px;
  width: 88pt;
}

#unselected {
  display: flex;
  gap: 5px;
  height: calc(88pt + 15px + 2px); /** TODO: Why do I have to add 2px to avoid the scroll bar in Chrome? Where is it coming from? */
  justify-content: flex-start;
  overflow-x: scroll;
}

.bingo-cell .card {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Lexend", sans-serif;
  font-size: min(4vh, 4vw);
  height: 100%;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px,
    rgb(255, 255, 255) 2.83487px 0.981584px 0px,
    rgb(255, 255, 255) 2.35766px 1.85511px 0px,
    rgb(255, 255, 255) 1.62091px 2.52441px 0px,
    rgb(255, 255, 255) 0.705713px 2.91581px 0px,
    rgb(255, 255, 255) -0.287171px 2.98622px 0px,
    rgb(255, 255, 255) -1.24844px 2.72789px 0px,
    rgb(255, 255, 255) -2.07227px 2.16926px 0px,
    rgb(255, 255, 255) -2.66798px 1.37182px 0px,
    rgb(255, 255, 255) -2.96998px 0.42336px 0px,
    rgb(255, 255, 255) -2.94502px -0.571704px 0px,
    rgb(255, 255, 255) -2.59586px -1.50383px 0px,
    rgb(255, 255, 255) -1.96093px -2.27041px 0px,
    rgb(255, 255, 255) -1.11013px -2.78704px 0px,
    rgb(255, 255, 255) -0.137119px -2.99686px 0px,
    rgb(255, 255, 255) 0.850987px -2.87677px 0px,
    rgb(255, 255, 255) 1.74541px -2.43999px 0px,
    rgb(255, 255, 255) 2.44769px -1.73459px 0px,
    rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  transition: font-size 2s;
  width: 100%;
}