@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,1,0");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.bottom-menu {
  display: flex;
  bottom: 0;
  gap: 8px;
  justify-content: flex-start;
  min-height: 100pt;
  overflow-x: scroll;
  padding: 8px;
  position: absolute;
  width: calc(100% - 16px);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  height: calc(100vh - 100pt - 24px);
  width: 100%;
}

.top-button {
    background-color: #fff;
    border: 1px solid;
    border-radius: 8pt;
    font-size: 44pt;
    opacity: 0.25;
    position: absolute;
    top: 4pt;
    transition: 0.5s;
    z-index: 100;
}

.top-button:nth-of-type(1) {
    left: 4pt;
}

.top-button:nth-of-type(2) {
    left: 56pt;
}

.top-button:hover {
  opacity: 1;
}