html, body {
  height: 100%;
}

* {
    font-family: "Schoolbell";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

#left {
    display: table-cell;
    width: 77vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
}

#right {
    display: table-cell;
    width: 23vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
}

#bingo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: left;
    height: 100vh;
    width: min(76vw, 91vh);
}
.cell {
    border: 1px solid #000;
    width: min(20vw, 30vh);
    height: min(20vw, 30vh);
}
.cell .option {
    border: none;
}

#select {
    background-color: lightgray;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    float: right;
    width: 22vw;
    height: 100vh;
    overflow-y: auto;
}

#select .option {
    border: 2px solid gray;
    border-radius: 2vw;
}

.option {
    background-color: #fff;
    display: table-cell;
    font-size: 3vw;
    width: min(20vw, 30vh);
    height: min(20vw, 30vh);
    text-align: center;
    vertical-align: bottom;

    color:#000;
    -webkit-text-fill-color:#000;
	text-shadow:
        -2px -2px 0 #fff,  
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}